pillow==9.4.0
opencv-python
pyyaml
json_tricks
yacs
scikit-learn
pandas
timm
numpy==1.24.3
einops
fvcore
transformers
sentencepiece
ftfy
regex
nltk==3.8.1
vision-datasets
cython
pycocotools
diffdist
pyarrow
cityscapesscripts
shapely
scikit-image==0.21.0
mup
accelerate
kornia
deepspeed
wandb
infinibatch
gradio
onnxruntime
onnx
qai-hub
